{% extends 'base.html' %}

{% load static %}

{% block content %}
<section>
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-12 text-center mb-5">
        <h1 class="page-title">My account</h1>
      </div>
    </div>

    <div class="row mb-5">

      <div class="d-md-flex post-entry-2 half">
        <a href="#" class="me-4 thumbnail">
          <img src="{% static '/img/account.png' %}" alt="" class="img-fluid">
        </a>
        <div class="ps-md-5 mt-4 mt-md-0">

            <div class="row justify-content-center mt-5">

              <div class="col-lg-12">
                <h5 class="comment-title">logined as {{ user.first_name }}</h5>
                <hr>
                <div class="row">

                  <p>{{sum}}$ TOTAL amount spent<br>
                     {{count.session__count}} pcs purchases are done</p>

                  {% if recent_orders %}
                  <hr>
                  <div>
                  <h5 class="comment-title">Recently ordered:</h5>
                  <table class="table">
                      <tbody>
                        {% for order in recent_orders %}
                        <tr class="bg-info">
                          <td scope="row"><a href="{% url 'session' order.session.pk %}">{% if today == order.session.date %}today,<br>{{order.session.settings.time_start|date:'G:i'}}{% else %}{{order.session.date|date:'M.j,Y'}}{% endif %}</a></td>
                          <td><font color="{{order.session.settings.hall.name}}">{{order.session.settings.hall.name|upper}}</font></td>
                          <td><a href="{% url 'movie' order.session.settings.movie.pk %}">{{order.session.settings.movie.title}}</a></td>
                          <td>{{order.session.settings.price}}$</td>
                          <td>{% for key in order.sits %}<button type="button" class="btn btn-outline-secondary" style="width:40px;" disabled>{{key}}</button>{% endfor %}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                  </table>
                  </div>
                  <hr>
                  {% endif %}


                   <table class="table">
                      <thead class="thead-light">
                        <tr>
                          <th scope="col">show</th>
                          <th scope="col">hall</th>
                          <th scope="col">movie</th>
                          <th scope="col">price</th>
                          <th scope="col">sits</th>
                        </tr>
                      </thead>

                      <tbody>
                        {% for order in orders %}
                        <tr
                         {% if today == order.session.date %}class="table-success"{% endif %}
                         {% if today < order.session.date %} class="table-info"{% endif %}>
                        <td scope="row"><a href="{% url 'session' order.session.pk %}">{% if today == order.session.date %}today,<br>{{order.session.settings.time_start|date:'G:i'}}{% else %}{{order.session.date|date:'M.j,Y'}}{% endif %}</a></td>
                          <td><font color="{{order.session.settings.hall.name}}">{{order.session.settings.hall.name|upper}}</font></td>
                          <td><a href="{% url 'movie' order.session.settings.movie.pk %}">{{order.session.settings.movie.title}}</a></td>
                          <td>{{order.session.settings.price}}$</td>
                          <td>{% for key in order.sits %}<button type="button" class="btn btn-outline-secondary"  style="width:40px;" disabled>{{key}}</button>{% endfor %}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                   </table>
                  {% include 'pagination.html' %}







                </div>
              </div>
            </div>
        </div>
      </div>



    </div>

  </div>
</section>


{% endblock %}
