{% extends 'base.html' %}

{% load static %}

{% block content %}

{% load crispy_forms_tags %}

<section>

  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-12 text-center mb-5">
        <h1 class="page-title">Movie sessions</h1>
      </div>
    </div>

    <div class="row mb-5">

      <div class="d-md-flex post-entry-2 half">
        <div class="ps-md-5 mt-4 mt-md-0">
          <div class="post-meta mt-4">filtering</div>

          <form class="form-inline" action="{% url 'schedule' %}">

                  <div class="form-group">
                      <label for="sel1">filter by movie:</label>
                      <select class="form-control" name="filter_movie">
                        <option>{{ request.GET.filter_movie }}</option>
                          {% for session in unique_movies %}
                        <option>{{session.settings.movie.title}}</option>
                          {% endfor %}
                      </select>
                    </div>

                  <div class="form-group">
                      <label for="sel1">filter by hall:</label>
                      <select class="form-control" name="filter_hall">
                        <option>{{ request.GET.filter_hall }}</option>
                          {% for session in unique_halls %}
                        <option>{{session.settings.hall.name}}</option>
                          {% endfor %}
                      </select>
                  </div>

              <label for="time_start">from time start:</label>
              <input type="time" name="time_start">
              <label for="time_end">till time end:</label>
              <input type="time" name="time_end">

              <label for="date_start">start date:</label>
              <input type="date" id="date_start" name="date_start">
              <label for="date_end">end date:</label>
              <input type="date" id="date_end" name="date_end">

              <br>
              <div class="post-meta mt-4">ordering</div>
              <span>by price:</span>
              <div class="btn-group" role="group" aria-label="Order by price">
                  <input type="radio" class="btn-check" name="orderprice" id="btnradio2" value="asc" {% if request.GET.orderprice == 'asc' %}checked{% endif %} autocomplete="off">
                  <label class="btn btn-outline-primary" for="btnradio2">low > high</label>

                  <input type="radio" class="btn-check" name="orderprice" id="btnradio3" value="desc" {% if request.GET.orderprice == 'desc' %}checked{% endif %} autocomplete="off">
                  <label class="btn btn-outline-primary" for="btnradio3">high > low</label>
              </div>
              <span>by time start:</span>
              <div class="btn-group" role="group" aria-label="Order by time start">
                  <input type="radio" class="btn-check" name="ordertime" id="btnradio5" value="asc" {% if request.GET.ordertime == 'asc' %}checked{% endif %} autocomplete="off">
                  <label class="btn btn-outline-primary" for="btnradio5">erliest ></label>

                  <input type="radio" class="btn-check" name="ordertime" id="btnradio6" value="desc"  {% if request.GET.ordertime == 'desc' %}checked{% endif %} autocomplete="off">
                  <label class="btn btn-outline-primary" for="btnradio6">latest ></label>
              </div>
              </a><button type="submit" class="btn btn-success">apply</button>
          </form>
            <a href="{% url 'schedule' %}"><button type='submit' class='btn btn-light'>reset all</button></a>



          <div>
               <table class="table">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">hall</th>
                      <th scope="col">movie</th>
                      <th scope="col">date</th>
                      <th scope="col">start</th>
                      <th scope="col"></th>
                      <th scope="col">end</th>
                      <th scope="col">free</th>
                      <th scope="col">price</th>
                    </tr>
                  </thead>

                  <tbody>
                    {% for session in object_list %}
                    <tr>
                      <td><font color="{{session.settings.hall.name}}">{{session.settings.hall.name}}</font></td>
                      <td><a href="{% url 'movie' session.settings.movie.pk %}">{{session.settings.movie.title}}</a></td>
                      <td><a href="{% url 'session' session.pk %}">{{session.date}}</a></td>
                      <td>{{session.settings.time_start|date:'G:i'}}</td>
                      <td>-</td>
                      <td>{{session.settings.time_end|date:'G:i'}}</td>
                      <td>{{session.free_sits_number}}</td>
                      <td>{{session.settings.price}}$</td>
                    </tr>
                    {% endfor %}

                  </tbody>
               </table>

              {% include 'pagination.html' %}

              <br>



          </div>

      </div>


      </div>

    </div>


  </div>
</section>

{% endblock %}
