{% extends 'base.html' %}

{% load static %}

{% block content %}

{% load crispy_forms_tags %}

<section>

  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-12 text-center mb-5">
        <h1 class="page-title">Movies management</h1>
      </div>
    </div>

    <div class="row mb-5">

      <div class="d-md-flex post-entry-2 half">
        <div class="ps-md-5 mt-4 mt-md-0">
          <div class="post-meta mt-4">Movies</div>

          <div>
               <table class="table">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">id</th>
                      <th scope="col"></th>
                      <th scope="col">title</th>
                      <th scope="col">description</th>
                      <th scope="col">genres</th>
                      <th scope="col">director</th>
                      <th scope="col">starring</th>
                      <th scope="col">age</th>
                      <th scope="col"></th>
                      <th scope="col"></th>
                    </tr>
                  </thead>

                  <tbody>
                    {% for movie in object_list %}
                    <tr>
                      <th scope="row">{{movie.pk}}</th>
                      <td>{% if movie.img_small %}<img src="{{movie.img_small.url}}" width="182" height="136">{% endif %}</td>
                      <td>{{movie.title}}</td>
                      <td>{{movie.description|truncatechars:20}}</td>
                      <td>{% for genre in movie.genres.all %} {{genre}} {% endfor %}</td>
                      <td>{{movie.director}}</td>
                      <td>{{movie.starring}}</td>
                      <td>{{movie.get_age_policy_display}}</td>
                      <td><a href="{% url 'movie-edit' movie.pk %}" class="btn btn-sm btn-warning">update</a></td>
                      <td><form method="post" action="{% url 'movie-delete' movie.pk %}">
                              {% csrf_token %}
                              <input type="hidden" name="pk" value="{{movie.pk}}">
                              <button type="delete" class="btn btn-sm btn-danger">delete</button>
                          </form>
                      </td>
                    </tr>
                    {% endfor %}

                  </tbody>
               </table>


                <a href="{% url 'movie-create' %}"><button type='submit' class='btn btn-success'>add new</button></a>


          </div>

      </div>


      </div>

    </div>


  </div>
</section>

{% endblock %}
